<div class="ui grid">
  <div class="row">
    {{#missing-feature feature='time' as |missing|}}
    {{missing.preview imageUrl="/assets/images/missing-features/visualize/time.png"}}
    {{#missing.explanation imageUrl="/assets/images/missing-features/visualize/time.png"}}
        <h1 class="ui huge header">
          {{model.title}}
          <div class="sub header">
          {{t 'visualize.time.progress.sub-header'}}
          </div>
        </h1>
        <p>
          {{t 'visualize.time.progress.paragraph.explanation' title=model.title}}
        </p>
        <p>
          {{t 'visualize.time.progress.paragraph.reason'}}
        </p>
      {{/missing.explanation}}
    {{/missing-feature}}
  </div>

  <div class="row">
    {{outlet}}
    {{#link-to 'visualize.time.index' class="ui huge primary button"}}
      <i class="left arrow icon"></i>
      {{t 'visualize.time.overview.header' }}
    {{/link-to}}
  </div>
</div>
