<div class="ui fluid card">
  <div class="content">
    <button class="ui mini right floated circular icon button" {{action 'close'}}>
      <i class="remove icon"></i>
    </button>
    <div class="title header detail">
      {{t 'broadcast.broadcast-details.labels.title' }}: {{ broadcast.title }}
    </div>
    <div class="description detail">
      {{t 'broadcast.broadcast-details.labels.description' }}: {{ broadcast.description }}
    </div>
  </div>

  <div class="content">
    <span class="category detail">{{t 'broadcast.broadcast-details.labels.medium'}}: {{broadcast.medium.name}}</span>
    <span class="right floated category detail">{{t 'broadcast.broadcast-details.labels.station'}}: {{broadcast.station.name}}</span>
  </div>

  <div class="extra content">
    <span class="date detail">{{t 'broadcast.broadcast-details.labels.createdAt'}}: {{format-date broadcast.createdAt}}</span>
    <span class="right floated date detail">{{t 'broadcast.broadcast-details.labels.updatedAt'}}: {{format-date broadcast.updatedAt}}</span>
  </div>

  {{#if (eq broadcast.response 'positive')}}
    <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'neutral'}}>
      <i class="red heart icon"></i>
      {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
    </button>
  {{else}}
    <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'positive'}}>
      <i class="empty heart icon"></i>
      {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
    </button>
  {{/if}}
</div>
