<div class="ui fluid card">
  <div class="content">
    <button class="ui mini right floated circular icon close button" {{action 'close'}}>
      <i class="remove icon"></i>
    </button>
    <div class="meta">
    {{t 'broadcast.broadcast-details.labels.title' }}
    </div>
    <div class="title header detail">
      {{ broadcast.title }}
    </div>
    {{#if broadcast.urlPresent }}
      <div class="bradcast-image-container">
        <img src="{{ broadcast.pictureUrl }}" alt="{{ broadcast.title }}" class="bradcast-image" />
      </div>
    {{/if}}
    <div class="description detail">
      <div class="meta">
        {{t 'broadcast.broadcast-details.labels.description' }}
      </div>
        {{ broadcast.description }}
    </div>
  </div>

    {{#if broadcast.imageUrl }}
      <div class="image">
        <img src="{{ broadcast.imageUrl }}" alt="{{ broadcast.title }}"/>
      </div>
    {{/if}}

  <div class="content">
    <div class="meta">
    <span class="right floated">
    {{t 'broadcast.broadcast-details.labels.stations'}}
    </span>
    </div>

    <div class="meta">
    <span>
      {{t 'broadcast.broadcast-details.labels.medium'}}
    </span>
    </div>

    <span class="category detail medium">
      {{broadcast.medium.name}}
    </span>

    <span class="right floated right aligned category detail station">
      {{#each broadcast.stations as |station|}}
        {{station.name}}<br>
      {{/each}}
    </span>
  </div>

  <div class="extra content">
    <span class="date detail createdAt">{{t 'broadcast.broadcast-details.labels.createdAt'}}: {{format-date broadcast.createdAt}}</span>
    <span class="right floated date detail updatedAt">{{t 'broadcast.broadcast-details.labels.updatedAt'}}: {{format-date broadcast.updatedAt}}</span>
  </div>


  <div class="ui two buttons">
  {{#if (eq broadcast.response 'positive')}}
    <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'neutral'}}>
      <i class="red heart icon"></i>
      {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
    </button>
  {{else}}
    <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'positive'}}>
      <i class="empty heart icon"></i>
      {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
    </button>
  {{/if}}
    {{#link-to 'broadcast.edit' broadcast class="ui bottom attached edit button"}}
      <i class="edit icon"></i>
      {{t 'broadcast.broadcast-details.buttons.edit'}}
    {{/link-to}}
  </div>
</div>
