<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <div class="ui centered cards">
        <div class="card">
          <div class="image">
            <img src="assets/images/team/robert.jpg">
          </div>
          <div class="content">
            <div class="header">Robert Schäfer</div>
            <div class="meta">
              <span>{{t 'about-us.team.robert.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.robert.description'}}
            </div>
          </div>
          <div class="extra content">
            <span class="floated">
              <a class="item" href="mailto:robert@rundfunk-mitbestimmen.de">
                <i class="mail outline icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="https://github.com/roschaefer">
                <i class="github icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="http://www.miz-babelsberg.de/rubies-in-the-woods-en">
                <i class="diamond icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://hpi.de/">
                <i class="student icon"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="assets/images/team/katharina.jpg">
          </div>
          <div class="content">
            <div class="header">Katharina Ehrhardt</div>
            <div class="meta">
              <span>{{t 'about-us.team.katharina.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.katharina.description'}}
            </div>
          </div>
          <div class="extra content">
            <span class="floated">
              <a class="item" href="mailto:katharina@rundfunk-mitbestimmen.de">
                <i class="mail outline icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://github.com/somamo">
                <i class="github icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="http://somamo.github.io/">
                <i class="world icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://www.linkedin.com/in/katharina-ehrhardt-a4653811">
                <i class="linkedin icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://twitter.com/somamo">
                <i class="twitter icon"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="assets/images/team/smiley.png">
          </div>
          <div class="content">
            <div class="header">{{t 'about-us.team.you.name'}}</div>
            <div class="meta">
              <span>{{t 'about-us.team.you.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.you.description' htmlSafe=true}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
