<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui huge header">
        {{t 'about-us.header'}}
        <div class="sub header">
          {{t 'about-us.sub-header' htmlSafe=true}}
        </div>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui centered cards">

        <div class="card">
          <div class="image">
            <img src="assets/images/team/robert.jpg">
          </div>
          <div class="content">
            <div class="header">Robert Schäfer</div>
            <div class="meta">
              <span>{{t 'about-us.team.robert.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.robert.description'}}
            </div>
          </div>
          <div class="extra content">
            <span class="floated">
              <a class="item" href="mailto:robert@rundfunk-mitbestimmen.de">
                <i class="mail outline icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="https://github.com/roschaefer">
                <i class="github icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="http://www.miz-babelsberg.de/rubies-in-the-woods-en">
                <i class="diamond icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://hpi.de/">
                <i class="student icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://twitter.com/roschaeferDE">
                <i class="twitter icon"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="assets/images/team/matt.jpg">
          </div>
          <div class="content">
            <div class="header">Matt Lindsey</div>
            <div class="meta">
              <span>{{t 'about-us.team.matt.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.matt.description' htmlSafe=true}}
            </div>
          </div>
          <div class="extra content">
            <span class="floated">
              <a class="item" href="mailto:matthew.r.lindsey@gmail.com">
                <i class="mail outline icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="https://github.com/mattlindsey">
                <i class="github icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="http://www.matthewrlindsey.org/">
                <i class="world icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="https://twitter.com/matthewrlindsey">
                <i class="twitter icon"></i>
              </a>
            </span>
            <span class="floated">
              <a class="item" target="_blank" href="https://www.linkedin.com/in/matthewrlindsey">
                <i class="linkedin icon"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="assets/images/team/sigu.jpg">
          </div>
          <div class="content">
            <div class="header">Sigu Magwa</div>
            <div class="meta">
              <span>{{t 'about-us.team.sigu.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.sigu.description' htmlSafe=true}}
            </div>
          </div>
          <div class="extra content">
            <span class="floated">
              <a class="item" target="_blank" href="http://www.sigumagwa.com/">
                <i class="world icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://github.com/sigu">
                <i class="github icon"></i>
              </a>
            </span>
            <span>
              <a class="item" target="_blank" href="https://twitter.com/s_igu">
                <i class="twitter icon"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="assets/images/team/smiley.png">
          </div>
          <div class="content">
            <div class="header">{{t 'about-us.team.you.name'}}</div>
            <div class="meta">
              <span>{{t 'about-us.team.you.position'}}</span>
            </div>
            <div class="description">
              {{t 'about-us.team.you.description' htmlSafe=true}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{outlet}}
