{{outlet}}

<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui huge header">
        {{t 'broadcasts.header'}}
        <div class="sub header">
          {{t 'broadcasts.sub-header'}}
        </div>
      </h1>
    </div>
  </div>


  <div class="row broadcasts">
    <div class="ui sixteen wide column">
      <table class="ui selectable basic table two">
        <thead>
          <tr>
            <th>{{t 'broadcasts.table.header.title'}}</th>
            <th class="right aligned"></th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |broadcast|}}
          <tr class="broadcast">
            <td>{{broadcast.title}}</td>
            <td class="right aligned">
              {{#each broadcast.selections as |selection|}}
                {{#if (eq selection.response 'positive')}}
                  <button class="unselect ui circular positive icon button" {{ action 'unselect' broadcast}}  >
                    <i class="large smile icon"></i>
                  </button>
                {{else}}
                  <button class="reselect ui circular icon button" {{ action 'reselect' broadcast}}>
                    <i class="large meh icon"></i>
                  </button>
                {{/if}}
            {{/each}}
            <button class="edit ui circular icon button" {{ action 'edit' broadcast}}>
              <i class="large edit icon"></i>
            </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          {{
          page-numbers
          classNames='small-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=1
          action=(action 'pageClicked')
          }}
          {{
          page-numbers
          classNames='large-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=5
          action=(action 'pageClicked')
          }}
        </tfoot>
      </table>
    </div>
  </div>

  {{broadcast-form-modal broadcast=editedBroadcast media=media stations=stations}}

  <div class="row">
    <div class="ui sixteen wide column">
      {{#link-to 'invoice' class='ui huge labeled fluid primary icon button'}}
        <i class="left arrow icon"></i>
        {{t 'broadcasts.link-to.invoice'}}
      {{/link-to}}
    </div>
  </div>
</div>
