<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui huge header decision-page">{{t 'decide.header'}} </h1>
    </div>
  </div>

  {{broadcast-search searchAction=(action 'searchAction') broadcasts=model media=media stations=stations filterParams=filterParams loading=loading}}

  {{#unless model}}
  <div class="doubling two column row">
    <div class="four wide column">
      {{help-message id='help-message-new-broadcast' icon='smile' header='decide.help-messages.missing-broadcast.header' content='decide.help-messages.missing-broadcast.content'}}
    </div>
    <div class="twelve wide column">
      {{broadcast-form
      broadcast=newBroadcast
      media=media
      stations=stations
      errorMessages=errorMessages
      newBroadcast='newBroadcast'
      }}
    </div>
  </div>

  <div class="doubling two column row">
    <div class="four wide column">
    </div>
    <div class="twelve wide column">
      <div class="ui grid">
        <div class="two column row">
          <div class="column">
            {{help-message content='decide.help-messages.result-set-empty.content' }}
          </div>
          <div class="column">
            {{#link-to 'invoice' classNames='ui huge labeled icon fluid button link-to-invoice primary'}}
            <i class="euro icon"></i>
            {{t 'decide.button.to-invoice' }}
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}

  {{outlet}}




  {{decision-card-deck
  broadcasts=model
  loadMore='loadMore'
  update=(action 'createOrUpdateSelection')}}
</div>
