<div class="row">
  <div class="column">
    <h1 class="ui huge header decision-page">{{t 'decide.header'}} </h1>
  </div>
</div>

{{broadcast-search searchAction=(action 'searchAction') broadcasts=model.broadcasts media=media stations=stations filterParams=filterParams loading=loading}}

<div class="row">
  <div class="column">
    {{find-broadcasts/navigation
    step=page
    totalSteps=totalPages
    recentPositives=positiveSelectionsWithoutAmount.length
    browse=(action 'browse')
    }}
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="ui centered cards">
      {{#each model.broadcasts as |broadcast|}}
        <div class="card">
          {{decision-card broadcast=broadcast respondAction=(action 'respond')}}
        </div>
      {{/each}}
    </div>
  </div>
</div>


{{#unless model}}
  <div class="doubling two column row">
    <div class="four wide column">
      {{help-message id='help-message-new-broadcast' icon='smile' header='decide.help-messages.missing-broadcast.header' content='decide.help-messages.missing-broadcast.content'}}
    </div>
    <div class="twelve wide column">
      {{broadcast-form
      broadcast=newBroadcast
      media=media
      stations=stations
      errorMessages=errorMessages
      newBroadcast='newBroadcast'
      }}
    </div>
  </div>

  <div class="doubling two column row">
    <div class="four wide column">
    </div>
    <div class="twelve wide column">
      <div class="ui grid">
        <div class="two column row">
          <div class="column">
            {{help-message content='decide.help-messages.result-set-empty.content' }}
          </div>
          <div class="column">
            {{#link-to 'invoice' classNames='ui fluid huge primary button link-to-invoice'}}
              <i class="euro icon"></i>
              {{t 'decide.next-step.button.to-invoice' }}
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/unless}}

{{outlet}}



