<div class="row">
  <div class="column">
    <h1 class="ui huge header find-broadcasts-page">{{t 'find-broadcasts.header'}} </h1>
  </div>
</div>

{{broadcast-search searchAction=(action 'searchAction') broadcasts=model.broadcasts media=media stations=stations filterParams=filterParams loading=loading}}

<div class="row">
  <div class="column">
    {{find-broadcasts/navigation
    step=page
    totalSteps=totalPages
    recentPositives=positiveSelectionsWithoutAmount.length
    browse=(action 'browse')
    }}
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="ui centered cards">
      {{#each model.broadcasts as |broadcast|}}
        {{decision-card broadcast=broadcast respondAction=(action 'respond')}}
      {{/each}}
    </div>
  </div>
</div>


{{#unless model.broadcasts}}
  {{find-broadcasts/empty-list
  broadcasts=model.broadcasts
  broadcast=newBroadcast
  media=media
  stations=stations
  errorMessages=errorMessages
  }}
{{/unless}}

{{outlet}}



