<div id="index-page" class="ui stackable grid container">

  <div class="masthead one column row">
    <div class="center aligned stretched column">
      <div class="ui row">
        <h1 class="header">
          {{t 'index.masthead.header' }}
        </h1>
        <h3 class="ui header intro-text">
          {{t 'index.masthead.sub-header'}}
        </h3>
        {{#link-to 'find-broadcasts'
        class="ui huge primary button start-button"}}
        {{t 'index.masthead.call-to-action' }}
        {{/link-to}}
      </div>
      <div class="row">
        <div class="ui three steps">
          {{#link-to 'find-broadcasts' class='active step'}}
          <i class="unhide icon"></i>
          <div class="content">
            <div class="title">
              {{t 'index.masthead.steps.find' }}
            </div>
          </div>
          {{/link-to}}
          <div class="disabled step">
            <i class="checkmark box icon"></i>
            <div class="content">
              <div class="title">
                {{t 'index.masthead.steps.find-broadcasts' }}
              </div>
            </div>
          </div>
          <div class="disabled step">
            <i class="euro icon"></i>
            <div class="content">
              <div class="title">
                {{t 'index.masthead.steps.distribute' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="approval" class="ui two column row">
    <div class="column">
      <div class="eight wide column">
        <img class="ui centered statement medium image" src="assets/images/statement.svg">
      </div>
      <div class="eight wide column middle aligned">
        <h1>
          {{t 'index.statement.header'}}
        </h1>
        <p>
          {{t 'index.statement.content' htmlSafe=true}}
        </p>
      </div>
    </div>
    <div class="column">
      <div class="eight wide column">
        <img class="ui centered broadcasts medium image" src="assets/images/broadcasters.svg">
      </div>
      <div class="eight wide column middle aligned">
        <h1>
          {{t 'index.approval.header'}}
        </h1>
        <p>
          {{t 'index.approval.content' htmlSafe=true}}
        </p>
      </div>
    </div>
  </div>

  <div class="one column centered row">
    <div class="center aligned column">
      <div class="row">
        <h3>
          {{t 'index.actual.header'}}
        </h3>
      </div>
      <div class="row">
        {{dynamic-high-charts chartOptions=actualChartOptions content=actualChartData}}
      </div>
      <div class="row">
        <p>
          {{t 'index.actual.description' htmlSafe=true}}
        </p>
      </div>
    </div>
  </div>

  <div class="ui one column centered row">
    <div class="fourteen wide column">
      <div class="ui basic center aligned segment">
        <h3>
          {{t 'index.tv-ratings.header'}}
        </h3>
      </div>
      <div class="ui horizontal piled segments">
        <div class="ui segment">
          <h4>
            Rundfunk MITBESTIMMEN
          </h4>
          <p>
            {{t 'index.tv-ratings.content.left' htmlSafe=true}}
          </p>
        </div>
        <div class="ui segment">
          <h4>
            {{t 'index.tv-ratings.name'}}
          </h4>
          <p>
            {{t 'index.tv-ratings.content.right' htmlSafe=true}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui relaxed stackable grid">
      <div class="centered row">
        <h3>
          {{t 'index.visualizations.header'}}
        </h3>
      </div>
      <div class="five column row">
        <div class="column">
          {{#link-to 'visualize.diff'}}
          <img class="ui small centered image" src="assets/images/visualize/rating.svg">
          <h5>
            {{t 'index.visualizations.labels.rating'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.geo'}}
          <img class="ui small centered image" src="assets/images/visualize/geography.svg">
          <h5>
            {{t 'index.visualizations.labels.geography'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.demography'}}
          <img class="ui small centered image" src="assets/images/visualize/demography.svg">
          <h5>
            {{t 'index.visualizations.labels.demography'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.time'}}
          <img class="ui small centered image" src="assets/images/visualize/trends.svg">
          <h5>
            {{t 'index.visualizations.labels.trends'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.graph'}}
          <img class="ui small centered image" src="assets/images/visualize/relations.svg">
          <h5>
            {{t 'index.visualizations.labels.relations'}}
          </h5>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui stackable grid">
      <div class="centered row">
        <h3>
          {{t 'index.summarized-statistics.header'}}
        </h3>
      </div>
      <div class="four column row">
        <div class="four wide center aligned column">
          <div class="ui statistic">
            <div class="value statistics registered-users">
              {{model.registeredUsers}}
            </div>
            <div class="label">
              {{t 'index.statistics.registered-users' }}
            </div>
          </div>
        </div>
        <div class="four wide center aligned column">
          <div class="ui statistic">
            <div class="value statistics broadcasts">
              {{model.broadcasts}}
            </div>
            <div class="label">
              {{t 'index.statistics.broadcasts' }}
            </div>
          </div>
        </div>
        <div class="four wide center aligned column">
          <div class="ui statistic">
            <div class="value statistics impressions">
              {{model.impressions}}
            </div>
            <div class="label">
              {{t 'index.statistics.impressions' }}
            </div>
          </div>
        </div>
        <div class="four wide center aligned column">
          <div class="ui statistic">
            <div class="value statistics money-assigned">
              {{format-number model.assignedMoney maximumFractionDigits=0 minimumFractionDigits=0 style='currency' currency='EUR' }}
            </div>
            <div class="label">
              {{t 'index.statistics.money-assigned' }}
            </div>
          </div>
        </div>
      </div>
        <div class="centered row">
          <div class="ui eight wide center aligned column">
            {{#link-to 'statistics' }}
            <h5>
              {{t 'index.statistics.link-to-statistics'}}
            </h5>
            {{/link-to}}
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="ui one column grid">
      <div class="centered row">
        <div class="fourteen wide mobile twelve wide tablet ten wide computer column">
          {{#twitter-feed}}
          <a class="twitter-timeline" data-tweet-limit="5" href="https://twitter.com/RundfunkMB">Tweets by RundfunkMB</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          {{/twitter-feed}}
        </div>
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui grid">
      <div class="centered row">
        <h3>
          FAQ
        </h3>
      </div>
      <div class="three column left aligned row">
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='survey'}}
          {{fa-question key='quality'}}
          {{fa-question key='impact'}}
          {{fa-question key='tv-rankings'}}
          {{fa-question key='representative'}}
          {{/ui-accordion}}
        </div>
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='consumption'}}
          {{fa-question key='binding'}}
          {{fa-question key='minorities'}}
          {{fa-question key='finances'}}
          {{fa-question key='business-model'}}
          {{/ui-accordion}}
        </div>
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='responsible'}}
          {{fa-question key='data-privacy'}}
          {{fa-question key='source-code'}}
          {{fa-question key='help'}}
          {{fa-question key='missing'}}
          {{/ui-accordion}}
        </div>
      </div>
    </div>
  </div>

</div>
