<div id="index-page" class="ui stackable grid container">

  <div class="masthead one column row">
    <div class="center aligned stretched column">
      <div class="ui row">
        <h1 class="masthead-header">
          {{t 'index.masthead.header' htmlSafe=true }}
        </h1>
        <h3 class="masthead-sub-header">
          {{t 'index.masthead.sub-header'}}
        </h3>
        {{#link-to 'find-broadcasts'
        class="ui huge primary button start-button"}}
        {{t 'index.masthead.call-to-action' }}
        {{/link-to}}
      </div>
      <div class="row">
        <div class="ui three steps">
          {{#link-to 'find-broadcasts' class='active step'}}
          <i class="unhide icon"></i>
          <div class="content">
            <div class="title">
              {{t 'index.masthead.steps.find' }}
            </div>
          </div>
          {{/link-to}}
          <div class="disabled step">
            <i class="checkmark box icon"></i>
            <div class="content">
              <div class="title">
                {{t 'index.masthead.steps.find-broadcasts' }}
              </div>
            </div>
          </div>
          <div class="disabled step">
            <i class="euro icon"></i>
            <div class="content">
              <div class="title">
                {{t 'index.masthead.steps.distribute' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="approval" class="ui four column row">
    <div class="three wide column">
      <img class="ui centered statement small image" src="assets/images/statement.svg">
    </div>
    <div class="five wide column middle aligned">
      <h1>
        {{t 'index.statement.header'}}
      </h1>
      <p>
        {{t 'index.statement.content' htmlSafe=true}}
      </p>
    </div>
    <div class="three wide column">
      <img class="ui centered broadcasts small image" src="assets/images/broadcasters.svg">
    </div>
    <div class="five wide column middle aligned">
      <h1>
        {{t 'index.approval.header'}}
      </h1>
      <p>
        {{t 'index.approval.content' htmlSafe=true}}
      </p>
    </div>
  </div>

  <div class="one column centered row">
    <div class="center aligned column">
      {{#ui-dimmer onElement=".ui.basic.segment" as |execute|}}

      <div class="ui basic segment">
        <h3>
          {{t 'index.actual.header'}}
        </h3>
        {{dynamic-high-charts chartOptions=actualChartOptions content=actualChartData}}
        <p>
          {{t 'index.actual.description' htmlSafe=true}}
        </p>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <h1 class="ui inverted icon header">
              <i class="line chart icon"></i>
              {{t 'index.actual.answer'}}
            </h1>
          </div>
        </div>
      </div>
      </div>

      <button class="ui primary button" {{action execute 'toggle'}}>
        {{t 'index.actual.question'}}
      </button>
      {{/ui-dimmer}}
    </div>
  </div>

  <div class="ui one column centered row">
    <div class="fourteen wide column">
      <div class="ui basic center aligned segment">
        <h3>
          {{t 'index.tv-ratings.header'}}
        </h3>
      </div>
      <div class="ui horizontal piled segments">
        <div class="ui segment">
          <h4>
            Rundfunk MITBESTIMMEN
          </h4>
          <p>
            {{t 'index.tv-ratings.content.left' htmlSafe=true}}
          </p>
        </div>
        <div class="ui segment">
          <h4>
            {{t 'index.tv-ratings.name'}}
          </h4>
          <p>
            {{t 'index.tv-ratings.content.right' htmlSafe=true}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui relaxed stackable grid">
      <div class="centered row">
        <h3>
          {{t 'index.visualizations.header'}}
        </h3>
      </div>
      <div class="five column stretched row">
        <div class="column">
          {{#link-to 'visualize.diff' class='ui basic button'}}
          <img class="ui tiny centered image" src="assets/images/visualize/rating.svg">
          <h5>
            {{t 'index.visualizations.labels.rating'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.geo' class='ui basic button'}}
          <img class="ui tiny centered image" src="assets/images/visualize/geography.svg">
          <h5>
            {{t 'index.visualizations.labels.geography'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.demography' class='ui basic button'}}
          <img class="ui tiny centered image" src="assets/images/visualize/demography.svg">
          <h5>
            {{t 'index.visualizations.labels.demography'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.time' class='ui basic button'}}
          <img class="ui tiny centered image" src="assets/images/visualize/trends.svg">
          <h5>
            {{t 'index.visualizations.labels.trends'}}
          </h5>
          {{/link-to}}
        </div>
        <div class="column">
          {{#link-to 'visualize.graph' class='ui basic button'}}
          <img class="ui tiny centered image" src="assets/images/visualize/relations.svg">
          <h5>
            {{t 'index.visualizations.labels.relations'}}
          </h5>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui grid">
      <div class="centered row">
        <h3>
          {{t 'index.summarized-statistics.header'}}
        </h3>
      </div>
      {{#if model.statisticTaskInstance.isRunning}}
      {{loading-spinner}}
      {{else if model.statisticTaskInstance.error}}
      {{error-frown}}
      {{else if model.statisticTaskInstance.value}}
      <div class="row">
        <div class="four wide computer sixteen wide tablet and mobile column">
          <div class="ui statistic">
            <div class="value statistics registered-users">
              {{model.statisticTaskInstance.value.registeredUsers}}
            </div>
            <div class="label">
              {{t 'index.statistics.registered-users' }}
            </div>
          </div>
        </div>
        <div class="four wide computer sixteen wide tablet and mobile column">
          <div class="ui statistic">
            <div class="value statistics broadcasts">
              {{model.statisticTaskInstance.value.broadcasts}}
            </div>
            <div class="label">
              {{t 'index.statistics.broadcasts' }}
            </div>
          </div>
        </div>
        <div class="four wide computer sixteen wide tablet and mobile column">
          <div class="ui statistic">
            <div class="value statistics impressions">
              {{model.statisticTaskInstance.value.impressions}}
            </div>
            <div class="label">
              {{t 'index.statistics.impressions' }}
            </div>
          </div>
        </div>
        <div class="four wide computer sixteen wide tablet and mobile column">
          <div class="ui statistic">
            <div class="value statistics money-assigned">
              {{format-number model.statisticTaskInstance.value.assignedMoney maximumFractionDigits=0 minimumFractionDigits=0 style='currency' currency='EUR' }}
            </div>
            <div class="label">
              {{t 'index.statistics.money-assigned' }}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="centered row">
        {{#link-to 'statistics' class='ui primary button'}}
        <i class="zoom icon"></i>
        {{t 'index.statistics.link-to-statistics'}}
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class="centered row">
    <div class="ui middle aligned grid">
      <div class="centered row">
        <div class="center aligned column">
          <h3>
            {{t 'index.media.header'}}
          </h3>
        </div>
      </div>

      <div class="two column doubling row media-row">
        <div class="column">
          <a class="ui medium image" href="https://netzpolitik.org/2017/neues-aus-dem-fernsehrat-6-ein-gespraech-ueber-rundfunk-mitbestimmen-de/">
            <img src="https://netzpolitik.org/wp-content/themes/liebefeld/images/netzpolitik_logo.svg">
          </a>
        </div>

        <div class="column">
          <a class="ui medium image" href="http://www.deutschlandfunk.de/oeffentlich-rechtlicher-rundfunk-mehr-direkte-demokratie.2907.de.html?dram:article_id=400509">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Deutschlandfunk_Logo_2017.svg">
          </a>
        </div>

        <div class="column">
          <a class="ui medium image" href="http://www.flurfunk-dresden.de/2017/10/13/flurfunk-podcast-2-klage-auf-schadensersatz-gegen-zeitungsverlage-zukunft-von-lokal-tv-der-landkreis-bautzen-und-die-medien/">
            <img src="assets/images/flurfunk.svg">
          </a>
        </div>

        <div class="column">
          <a class="ui medium image" href="http://rbbmediapmdp-a.akamaihd.net/content/de873933-37b3-4e26-8e69-bbe6fad05a51_9619f157-d2a5-40f0-9844-cb835291c748.mp3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Radio_Eins.svg">
          </a>
        </div>

      </div>
    </div>
  </div>
  
  <div class="row">
  {{#show-twitter-feed}}
    <div class="ui one column grid">
      <div class="centered row">
        <div class="fourteen wide mobile twelve wide tablet ten wide computer column">
          <a class="twitter-timeline" data-tweet-limit="5" href="https://twitter.com/RundfunkMB?ref_src=twsrc%5Etfw">Tweets by RundfunkMB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  {{/show-twitter-feed}}
  </div>

  <div class="centered row">
    <div class="ui grid">
      <div class="centered row">
        <h3>
          FAQ
        </h3>
      </div>
      <div class="three column left aligned stackable row">
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='survey'}}
          {{fa-question key='quality'}}
          {{fa-question key='impact'}}
          {{fa-question key='tv-rankings'}}
          {{fa-question key='representative'}}
          {{/ui-accordion}}
        </div>
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='consumption'}}
          {{fa-question key='binding'}}
          {{fa-question key='minorities'}}
          {{fa-question key='finances'}}
          {{fa-question key='business-model'}}
          {{/ui-accordion}}
        </div>
        <div class="ui column">
          {{#ui-accordion}}
          {{fa-question key='responsible'}}
          {{fa-question key='data-privacy'}}
          {{fa-question key='source-code'}}
          {{fa-question key='help'}}
          {{fa-question key='missing'}}
          {{/ui-accordion}}
        </div>
      </div>
    </div>
  </div>

</div>
