<div class="ui middle aligned stackable grid container">

  <div class="row">
    <div class="ui sixteen wide column">
      <h1 class="ui huge header">
        {{t 'invoice.header'}}
        <div class="sub header">
          {{t 'invoice.sub-header'}}
        </div>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="ui sixteen wide column">
      {{invoice-table selections=model invoice=invoice}}
    </div>
  </div>

  <div class="row">
      <div class="eight wide column">
      {{#link-to 'find-broadcasts' (query-params q=null) class='ui huge labeled fluid primary icon button'}}
         <i class="repeat icon"></i>
        {{t 'invoice.link-to.find-broadcasts' htmlSafe=true }}
      {{/link-to}}
      </div>
      <div class="eight wide column">
        {{#link-to 'broadcasts' class='ui huge labeled fluid primary icon button'}}
        <i class="unordered list icon"></i>
        {{t 'invoice.link-to.broadcasts'}}
        {{/link-to}}
      </div>
  </div>

  <div class="row">
    <div class="ui sixteen wide column">
      {{#link-to 'statistics' class='ui huge labeled fluid primary icon button'}}
       <i class="users icon"></i>
        {{t 'invoice.link-to.statistics' }}
      {{/link-to}}
    </div>
  </div>
</div>
