<div class="ui grid">
  <div class="centered one column row">
    <div class="fourteen wide tablet eight wide computer column">
      <div class="ui fluid card">
        <div class="content">
          <button class="ui mini right floated circular icon close button" {{action 'back'}}>
            <i class="remove icon"></i>
          </button>

          <div class="header">
            {{t 'login.header'}}
          </div>
          <div class="meta">
            {{t 'login.sub-header'}}
          </div>
        </div>
        <div class="content">
          <div class="description detail">
            <p>
            {{t 'login.description'}}
            </p>
          </div>
        </div>

        <button class="ui bottom attached primary button" {{action 'login'}}>
          <i class="sign in icon"></i>
            {{t 'login.button.label'}}
        </button>
      </div>
    </div>
  </div>
</div>
