<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui huge header">
        {{t 'statistics.header'}}
        <div class="sub header">
          {{t 'statistics.sub-header'}}
        </div>
      </h1>
    </div>
  </div>


  <div class="row">
    <div class="ui sixteen wide column">
      {{#ui-accordion class="fluid styled"}}
        <div class="title">
          Explain these metrics, please
        </div>
        <div class="content">
          <div class="accordion transition hidden">
            <div class="title">
              Number of votes
            </div>
            <div class="content">
              <p>
              How often was this broadcast suggested to people?
              </p>
              <p>
              Right now, we track how many registered users clicked on either <strong>Support</strong> or <strong>Next</strong>.
              </p>
            </div>
            <div class="title">
              Approval
            </div>
            <div class="content">
              <p>
              From those people, who got a broadcast suggested, how many clicked on <strong>Support</strong> instead of <strong>Next</strong>?
              </p>
              <p>
              The formula is (in number of clicks):
              <div class="ui basic center aligned segment">
                <h1>
                  <sup>support</sup>/<sub>(support + next)</sub>
                </h1>
              </div>
              </p>
            </div>
            <div class="title">
              Average
            </div>
            <div class="content">
              <p>
              How much money do supporters give on average?
              How important is this broadcast to the specific target group?
              </p>
              <p>
              The formular is:
              <div class="ui basic center aligned segment">
                <h1>
                  <sup>total amount</sup>/<sub>supporters</sub>
                </h1>
              </div>
              </p>
            </div>
            <div class="title">
              Total amount
            </div>
            <div class="content">
              <p>
              What is the sum of all amounts?
              </p>
              <p>
              It would be interesting to compare this to the actual production cost per broadcast. Unfortunately, that information <strong>remains unknown</strong>.
              </p>
            </div>
          </div>
        </div>
      {{/ui-accordion}}
    </div>
  </div>

  <div class="row statistics">
    <div class="ui sixteen wide column">
      <table class="ui sortable celled table five">
        <thead>
          <tr>
            {{#sortable-header current-column=column current-direction=direction column='title' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.broadcast'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='reviews' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.reviews'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='approval' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.approval'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='average' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.average'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='total' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.total'}}
            {{/sortable-header}}
          </tr>
        </thead>
        <tbody>
          {{#each model as |statistic|}}
          <tr class="statistic-item">
            <td>{{statistic.title}}</td>
            <td class="reviews">{{statistic.reviews}}</td>
            <td class="approval">{{format-number statistic.approval style='percent'}}</td>
            <td class="average">{{format-number statistic.average style='currency' currency='EUR'}}</td>
            <td class="total">{{format-number statistic.total style='currency' currency='EUR'}}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          {{
          page-numbers
          classNames='small-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=1
          action=(action 'pageClicked')
          }}
          {{
          page-numbers
          classNames='large-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=5
          action=(action 'pageClicked')
          }}
        </tfoot>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="ui sixteen wide column">
    {{#if session.isAuthenticated}}
      {{#link-to 'invoice' class='ui huge labeled primary icon button'}}
        <i class="euro icon"></i>
        {{t 'statistics.link-to.invoice' }}
      {{/link-to}}
    {{else}}
      {{#link-to 'index' class='ui huge labeled primary icon button'}}
        <i class="left arrow icon"></i>
        {{t 'statistics.link-to.index' }}
      {{/link-to}}
    {{/if}}
    </div>
  </div>
</div>
