<div class="ui middle aligned stackable grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui huge header">
        {{t 'statistics.header'}}
        <div class="sub header">
          {{t 'statistics.sub-header'}}
        </div>
      </h1>
    </div>
  </div>


  <div class="row">
    <div class="ui sixteen wide mobile eight wide computer column">
      {{#ui-accordion class="fluid"}}
        <div class="title accordion-header">
          <i class="dropdown icon"></i>
          {{t 'statistics.explanations.header'}}
        </div>
        <div class="content">
          <div id="inner-explanation-accordion" class="accordion transition hidden">
            <div class="title accordion-header">
              <i class="dropdown icon"></i>
              {{t 'statistics.summary.table.header.impressions'}}
            </div>
            <div class="content accordion-text">
              <p>
              {{t 'statistics.explanations.content.impressions' htmlSafe=true}}
              </p>
            </div>
            <div class="title accordion-header">
              <i class="dropdown icon"></i>
              {{t 'statistics.summary.table.header.approval'}}
            </div>
            <div class="content accordion-text">
              <p>
              {{t 'statistics.explanations.content.approval' htmlSafe=true}}
              <br>
              {{t 'statistics.explanations.content.formula'}}
              <div class="ui basic compact aligned segment">
                <h3><sup>supporters</sup>/<sub>(supporters + non-supporters)</sub></h3>
              </div>
              </p>
            </div>
            <div class="title accordion-header">
              <i class="dropdown icon"></i>
              {{t 'statistics.summary.table.header.average'}}
            </div>
            <div class="content accordion-text">
              <p>
              {{t 'statistics.explanations.content.average' htmlSafe=true}}
              <br>
              {{t 'statistics.explanations.content.formula'}}
              <div class="ui basic compact aligned segment">
                <h3><sup>total-amount</sup>/<sub>supporters</sub></h3>
              </div>
              </p>
            </div>
            <div class="title accordion-header">
              <i class="dropdown icon"></i>
              {{t 'statistics.summary.table.header.total'}}
            </div>
            <div class="content accordion-text">
              <p>
              {{t 'statistics.explanations.content.total' htmlSafe=true}}
              </p>
            </div>
          </div>
        </div>
      {{/ui-accordion}}
    </div>
  </div>

  <div class="row statistics">
    <div class="ui sixteen wide column">
      <table class="ui sortable celled table five">
        <thead>
          <tr>
            {{#sortable-header current-column=column current-direction=direction column='title' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.broadcast'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='impressions' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.impressions'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='approval' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.approval'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='average' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.average'}}
            {{/sortable-header}}
            {{#sortable-header current-column=column current-direction=direction column='total' clickAction=(action 'order')}}
              {{t 'statistics.summary.table.header.total'}}
            {{/sortable-header}}
          </tr>
        </thead>
        <tbody>
          {{#each model as |statistic|}}
            <tr class="statistic-item">
              <td>
                {{#link-to 'broadcast' statistic.id}}
                  {{statistic.title}}
                {{/link-to}}
              </td>
              <td class="impressions">{{statistic.impressions}}</td>
              <td class="approval">{{format-number statistic.approval style='percent'}}</td>
              <td class="average">{{format-number statistic.average style='currency' currency='EUR' fallback='-'}}</td>
              <td class="total">{{format-number statistic.total style='currency' currency='EUR'}}</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          {{
          page-numbers
          classNames='small-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=1
          action=(action 'pageClicked')
          }}
          {{
          page-numbers
          classNames='large-pagination'
          tagName='tr'
          content=model
          showFL=true
          numPagesToShow=5
          action=(action 'pageClicked')
          }}
        </tfoot>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="ui sixteen wide column">
      {{#if session.isAuthenticated}}
        {{#link-to 'invoice' class='ui huge labeled primary icon button'}}
          <i class="euro icon"></i>
          {{t 'statistics.link-to.invoice' }}
        {{/link-to}}
      {{else}}
        {{#link-to 'index' class='ui huge labeled primary icon button'}}
          <i class="left arrow icon"></i>
          {{t 'statistics.link-to.index' }}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
