<div class="row">
  <div class="column">
    <h1 class="ui huge header">
      {{t 'visualize.time.overview.header'}}
      <div class="sub header">
        {{t 'visualize.time.overview.sub-header'}}
      </div>
    </h1>
  </div>
</div>

<div class="row">
  <div class="column">
    {{visualize/calendar-heatmap calendarItems=model}}
  </div>
</div>

{{outlet}}

<div class="row">
  {{outlet}}
  {{#link-to 'visualize.index' class="ui huge primary button"}}
    <i class="left arrow icon"></i>
    {{t 'visualize.overview' }}
  {{/link-to}}
</div>
{{outlet}}
