<div class="">
  <h1 class="ui center aligned grid">{{t 'visualize.demography.header'}}</h1><br>
</div>
<div class="">
  <h3 class="ui center aligned grid">{{t 'visualize.demography.sub-header'}}</h3><br>
</div>

{{dynamic-high-charts chartOptions=chartOptions content=chartData}}
{{demographic-form user=model}}

{{outlet}}
<div class="row">
  {{outlet}}
  {{#link-to 'visualize.index' class="ui huge primary button"}}
  <i class="left arrow icon"></i>
  {{t 'visualize.overview' }}
  {{/link-to}}
</div>
