{{#missing-feature feature='geo'}}
  <h1 class="ui huge header">
    {{t 'visualize.geo.header'}}
    <div class="sub header">
      {{t 'visualize.geo.sub-header'}}
    </div>
  </h1>
  <p>
  {{t 'visualize.geo.paragraph.explanation'}}
  </p>
  <p>
  {{t 'visualize.geo.paragraph.reason'}}
  </p>
{{/missing-feature}}

{{outlet}}

{{#link-to 'visualize.index'
  class="ui huge primary button"}}
  {{t 'visualize.overview' }}
{{/link-to}}
