<div class="ui grid">
  <div class="row">
    {{#missing-feature feature='geo' as |missing|}}
    {{#missing.explanation}}
    <h1 class="ui huge header">
      {{t 'visualize.geo.header'}}
      <div class="sub header">
        {{t 'visualize.geo.sub-header'}}
      </div>
    </h1>
    <p>
    {{t 'visualize.geo.paragraph.explanation'}}
    </p>
    <p>
    {{t 'visualize.geo.paragraph.reason'}}
    </p>
    {{geo/info-box displayedProperties=displayedProperties}}
    {{/missing.explanation}}

    {{#missing.preview}}
      {{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}
        {{layers.tile url=tileLayerUrl}}
        {{layers.geoJSON geoJSON=model.geojson style=(action 'style') onEachFeature=(action 'onEachFeature')}}

        {{#each model.locations as |location|}}
          {{#layers.marker location=location.coordinates as |marker|}}
            {{#marker.popup}}
              <h3>Your location</h3>
              <strong>Country code:</strong>
              {{location.countryCode}}<br>
              <strong>State code:</strong>
              {{location.stateCode}}<br>
              <strong>City:</strong>
              {{location.city}}<br>
              <strong>Postal code:</strong>
              {{location.postalCode}}
            {{/marker.popup}}
          {{/layers.marker}}
        {{/each}}
      {{/leaflet-map}}
    {{/missing.preview}}

    {{/missing-feature}}
  </div>

  <div class="row">
    {{outlet}}

    {{#link-to 'visualize.index' class="ui huge primary button"}}
      <i class="left arrow icon"></i>
      {{t 'visualize.overview' }}
    {{/link-to}}
  </div>
</div>
