{{#missing-feature feature='geo' imageUrl="/assets/images/missing-features/visualize/geo.png"}}
<h1 class="ui huge header">
  {{t 'visualize.geo.header'}}
  <div class="sub header">
    {{t 'visualize.geo.sub-header'}}
  </div>
</h1>
<p>
{{t 'visualize.geo.paragraph.explanation'}}
</p>
<p>
{{t 'visualize.geo.paragraph.reason'}}
</p>
{{/missing-feature}}

{{outlet}}

{{#link-to 'visualize.index' class="ui huge primary button"}}
<i class="left arrow icon"></i>
{{t 'visualize.overview' }}
{{/link-to}}
