{{#missing-feature feature='graph'}}
  <h1 class="ui huge header">
    {{t 'visualize.graph.header'}}
    <div class="sub header">
      {{t 'visualize.graph.sub-header'}}
    </div>
  </h1>
  <p>
  {{t 'visualize.graph.paragraph.explanation'}}
  </p>
  <p>
  {{t 'visualize.graph.paragraph.reason'}}
  </p>
{{/missing-feature}}

{{outlet}}
