{{outlet}}
<div class="ui center aligned grid">
  <div class="doubling three column row">
    <div class="column">
      {{#link-to 'visualize.diff' id='visualize-diff'}}
      <div class="ui medium image">
        <img src="/assets/images/graph-thumbnails/expected_actual_by_media.svg">
      </div>
      <div class="ui huge header">{{t 'visualize.index.headers.diff'}}</div>
      {{/link-to}}
    </div>

    <div class="column">
      {{#link-to 'visualize.geo'}}
      <div class="ui medium image">
        <img src="/assets/images/missing-features/visualize/geo.png">
      </div>
      <div class="ui huge header">{{t 'visualize.index.headers.geo'}}</div>
      {{/link-to}}
    </div>

    <div class="column">
      {{#link-to 'visualize.demography'}}
      <div class="ui medium image">
        <img src="/assets/images/graph-thumbnails/demographic.svg">
      </div>
      <div class="ui huge header">{{t 'visualize.index.headers.demography'}}</div>
      {{/link-to}}
    </div>

    <div class="column">
      {{#link-to 'visualize.time'}}
      <div class="ui medium image">
        <img src="/assets/images/graph-thumbnails/bubble_chart.svg">
      </div>
      <div class="ui huge header">{{t 'visualize.index.headers.time'}}</div>
      {{/link-to}}
    </div>

    <div class="column">
      {{#link-to 'visualize.graph'}}
      <div class="ui medium image">
        <img src="/assets/images/graph-thumbnails/graph.svg">
      </div>
      <div class="ui huge header">{{t 'visualize.index.headers.graph'}}</div>
      {{/link-to}}
    </div>
  </div>
  <div class="row">
    {{#link-to 'index' class="ui huge primary button"}}
    <i class="left arrow icon"></i>
    {{t 'index.link-to' }}
    {{/link-to}}
  </div>
</div>
