{{visualize/diff/chart-explanation
nominative=(t (concat 'visualize.diff.diffedModel.station') case=1)
genetive=(t (concat 'visualize.diff.diffedModel.station') case=2)
}}

<div class="row">
  <div class="column">
    <h1 class="ui large centered header">
      {{t 'visualize.diff.charts.tv.header'}}
    </h1>
    <div class='chart-area'>
      {{dynamic-high-charts chartOptions=tvChartOptions content=tvChartData}}
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="ui padded basic segment">
  </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <h1 class="ui large centered header">
      {{t 'visualize.diff.charts.radio.header'}}
    </h1>
    <div class='chart-area'>
      {{dynamic-high-charts chartOptions=radioChartOptions content=radioChartData}}
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    {{#link-to 'visualize.diff.index' class="ui huge primary button"}}
      <i class="left arrow icon"></i>
      {{t 'visualize.overview' }}
    {{/link-to}}
  </div>
</div>
