<<<<<<< HEAD
<div class="basic segment ui grid">
  <div class="mobile only centered row">
    {{find-broadcasts/navigation/distribute-budget recentPositives=recentPositives}}
  </div>

  <div class="middle aligned row">
    <div class="three wide computer four wide tablet eight wide mobile column">
      <button class="ui left labeled icon {{unless canStepBackward 'disabled'}} button find-broadcasts-navigation-back" {{action 'back'}}>
        <i class="left arrow icon"></i>
        {{t 'find-broadcasts.navigation.buttons.back'}}
      </button>
    </div>

    <div class="ten wide computer eight wide tablet computer only column">
      {{find-broadcasts/navigation/distribute-budget recentPositives=recentPositives}}
    </div>

    {{yield}}

    <div class="three wide computer four wide tablet eight wide mobile right aligned column">
      <button class="ui right labeled icon {{unless canStepForward 'disabled'}} button find-broadcasts-navigation-next" {{action 'next'}}>
        {{t 'find-broadcasts.navigation.buttons.next'}}
        <i class="right arrow icon"></i>
      </button>
    </div>
  </div>
</div>
