<div class="ui basic segment">
  <div class="ui four item massive secondary stackable menu">
    <div class="item">
      {{#if canStepBackward}}
        <button class="ui left labeled icon button find-broadcasts-navigation-back" {{action 'back'}}>
          <i class="left arrow icon"></i>
          {{t 'find-broadcasts.navigation.buttons.back'}}
        </button>
      {{else}}
        <button class="ui left labeled icon button disabled find-broadcasts-navigation-back">
          <i class="left arrow icon"></i>
          {{t 'find-broadcasts.navigation.buttons.back'}}
        </button>
      {{/if}}
    </div>

    <div class="item">
      <strong>
        {{recentPositives}}
        {{#if (gt recentPositives 0)}}
          <i class="red heart icon"></i>
        {{else}}
          <i class="grey heart icon"></i>
        {{/if}}
      </strong>
      <small>
        {{t 'find-broadcasts.navigation.description' positives=recentPositives}}
      </small>
    </div>

    <div class="item">
      {{#link-to 'invoice' class=(concat 'ui' distibuteButtonCss 'button find-broadcasts-navigation-distribute-button')}}
        <i class="euro icon"></i>
        {{t 'find-broadcasts.navigation.buttons.distribute'}}
      {{/link-to}}
    </div>

    {{yield}}

    <div class="item">
      {{#if canStepForward}}
        <button class="ui right labeled icon button find-broadcasts-navigation-next" {{action 'next'}}>
          {{t 'find-broadcasts.navigation.buttons.next'}}
          <i class="right arrow icon"></i>
        </button>
      {{else}}
        <button class="ui right labeled icon disabled button find-broadcasts-navigation-next">
          {{t 'find-broadcasts.navigation.buttons.next'}}
          <i class="right arrow icon"></i>
        </button>
      {{/if}}
    </div>
  </div>
</div>
