<div class="row">
  <div class="ui sixteen wide column">
    <form {{action "search" on="submit"}} class="ui broadcast-search form">
      <div class="two fields">
        <div class="field">
          <div class="ui action fluid input">
            {{input id="search" value=filterParams.query class="prompt" type="text" placeholder=(t 'broadcast-search.query.placeholder') }}
            <button type="submit" id='submit-search' class="ui primary icon button {{loading}}">
              <i class="search icon"></i>
            </button>
          </div>
        </div>
        <div class="field">
          <div class="ui big fluid label">
            {{t 'broadcast-search.results' count=totalCount}}
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="six wide field filter-media-field">
          {{#ui-dropdown class="fluid selection" selected='' onChange=(action 'filterMedium')}}
            <div class="default text">{{t 'broadcast-search.filter.medium.placeholder' }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item blank" data-value=""></div>
              {{#each media as |medium|}}
                <div class="item" data-value="{{medium.id}}">
                  {{medium.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="six wide field filter-stations-field">
          {{#if sortedStations}}
            {{#ui-dropdown class="fluid selection" selected='' onChange=(action 'filterStation')}}
              <div class="default text">{{t 'broadcast-search.filter.station.placeholder' }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item blank" data-value=""></div>
                {{#each sortedStations as |station|}}
                  <div class="item" data-value="{{station.id}}">
                    <span class="text">{{station.name}}</span>
                    <span class="description">{{t 'broadcast-search.filter.station.description' count=station.broadcasts_count}}</span>
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          {{/if}}
        </div>
        {{broadcast-sort sortBroadcasts=sortBroadcasts}}
        </div>
    </form>
  </div>
</div>

{{yield}}
