<div class="row">
  <div class="ui sixteen wide column">
    <form {{action "search" on="submit"}} class="ui broadcast-search form">
      <div class="three fields">
        <div class="field">
          <div class="ui action fluid input">
            {{#link-to 'find-broadcasts'
            (query-params q='' sort='random' medium=null station=null)
            tagName="button"
            id="reset-search"
            title=(t 'find-broadcasts.reset-search')
            class="ui basic small icon button"
            }}
            <i class="times icon"></i>
            {{/link-to}}
            {{input id="search" value=query class="prompt" type="text" enter=(action 'search') placeholder=(t 'broadcast-search.query.placeholder') }}
            <button type="submit" id='submit-search' class="ui basic primary icon button {{if loading 'loading'}}">
              <i class="search icon"></i>
            </button>
          </div>
        </div>
        <div class="field filter-media-field">
          {{#ui-dropdown class="fluid selection" selected='' onChange=(action 'filterMedium')}}
          <div class="default text">{{t 'broadcast-search.filter.medium.placeholder' }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item blank" data-value=""></div>
            {{#each model.media as |medium|}}
            <div class="item" data-value="{{medium.id}}">
              {{medium.name}}
            </div>
            {{/each}}
          </div>
          {{/ui-dropdown}}
        </div>
        <div class="field filter-stations-field">
          {{#if sortedStations}}
          {{#ui-dropdown class="fluid selection" selected='' onChange=(action 'filterStation')}}
          <div class="default text">{{t 'broadcast-search.filter.station.placeholder' }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item blank" data-value=""></div>
            {{#each sortedStations as |station|}}
            <div class="item" data-value="{{station.id}}">
              <span class="text">{{station.name}}</span>
              <span class="description">#{{station.broadcasts_count}}</span>
            </div>
            {{/each}}
          </div>
          {{/ui-dropdown}}
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>

{{yield}}
