<div class="ui decision-card reload-or-invoice raised centered fluid card">
  <div class="content">
    {{#if (gt positiveReviews 1)}}
      <div class="header">
        {{t 'decide.next-step.to-invoice.header' positives=positiveReviews }}
      </div>
      <div class="description">
        {{format-html-message 'decide.next-step.to-invoice.content' positives=positiveReviews }}
      </div>
    {{else}}
      <div class="header">
        {{t 'decide.next-step.load-more.header' positives=positiveReviews }}
      </div>
      <div class="description">
        {{format-html-message 'decide.next-step.load-more.content' positives=positiveReviews }}
      </div>
    {{/if}}
  </div>
  <div class="content">
    <div class="ui grid">
      <div class="two column row">
        <div class="column">
        </div>
        <div class="column">
          <button class="ui fluid {{additionalRepeatButtonClasses}} icon button" {{action 'loadMore'}}>
            <i class="repeat icon"></i>
            {{t 'decide.next-step.button.load-more' }}
          </button>
        </div>
      </div>
      <div class="two column row">
        <div class="column">
          <button class="ui fluid icon back button" {{action 'back'}}>
            <i class="backward icon"></i>
            {{ t 'decide.decision-card.actions.back' }}
          </button>
        </div>
        <div class="column">
          {{#if session.isAuthenticated }}
            {{#link-to 'invoice' classNames=(concat 'ui fluid button link-to-invoice ' additionalDistributeButtonClasses)}}
              <i class="euro icon"></i>
              {{t 'decide.next-step.button.to-invoice' }}
            {{/link-to}}
          {{else}}
          <div class="field">
            <button class="ui fluid icon back button {{additionalDistributeButtonClasses}}" {{action 'signupAndDistributeBudget'}}>
              <i class="sign in icon"></i>
              {{t 'decide.next-step.button.sign-up' }}
            </button>
            <div class="ui pointing basic label tooltip-font">
              {{t 'decide.next-step.label.sign-up' }}
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
