<div class="content">
  <div class="right floated meta">
    {{ broadcast.medium.name}}
    {{#if broadcast.station }}
      &mdash; {{ broadcast.station.name}}
    {{/if}}
  </div>
  <div id="title" class="header">
    {{ broadcast.title }}
  </div>
  <div class="description">
    {{ broadcast.description }}
  </div>
</div>
{{#if (eq broadcast.response 'positive')}}
  <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'neutral'}}>
    <i class="red heart icon"></i>
    {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
  </button>
{{else}}
  <button class="ui bottom attached button decision-card-support-button" {{action 'respond' 'positive'}}>
    <i class="empty heart icon"></i>
    {{ t 'find-broadcasts.decision-card.actions.response.positive' }}
  </button>
{{/if}}
