<div class="ui grid">
<div class="row">
  <div class="sixteen wide column">
    <button class="ui left labeled left floated icon {{backButtonCss}} button decision-card-deck-back" {{action 'back'}}>
      <i class="left arrow icon"></i>
      Back
    </button>
    <button class="ui right labeled right floated icon {{nextButtonCss}} button decision-card-deck-next" {{action 'next'}}>
      Next
      <i class="right arrow icon"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="three ui cards">
      {{#each broadcasts as |broadcast|}}
      <div class="card">
        {{decision-card broadcast=broadcast respondAction=respondAction}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{#if broadcasts}}
<div class="centered row">
  <div class="sixteen wide mobile twelve wide tablet eight wide computer right aligned column">
    <div class="ui mini horizontal list">
      {{#each broadcasts as |broadcast index|}}
      {{decision-progress-icon broadcast=broadcast current=(eq step index)}}
      {{/each}}
    </div>
    <div class="ui left pointing label">
      {{step}}/{{broadcasts.length}}
    </div>
  </div>
</div>
{{/if}}
</div>
