<div class="ui icon {{ message-type }} message">
  {{#if icon}}
  <i class="{{icon}} icon"></i>
  {{/if}}
  <div class="content">
    {{#if header}}
    <div class="header">
      {{t header}}
    </div>
    {{/if}}
    {{#if content}}
    <p>
    {{t content htmlSafe=true}}
    </p>
    {{/if}}
  </div>
  {{yield}}
</div>
