<td>
  {{#link-to 'broadcast' selection.broadcast }}
    {{selection.broadcast.title}}
  {{/link-to}}
</td>
<td>
  <button class="invoice-item-action-remove left floated ui circular icon button" {{action 'remove'}} >
    <i class="icon trash"></i>
  </button>
</td>
<td>
  {{#if selection.fixed}}
    {{#ui-popup content=(t 'invoice.invoice-item.tooltips.unfix')}}
      <button class="invoice-item-action-unfix ui circular secondary icon button" {{action 'toggleFixed'}}>
        <i class="icon linkify"></i>
      </button>
    {{/ui-popup}}
  {{else}}
    {{#ui-popup content=(t 'invoice.invoice-item.tooltips.fix')}}
      <button class="invoice-item-action-fix ui circular icon button" {{action 'toggleFixed'}}>
        <i class="icon unlinkify"></i>
      </button>
    {{/ui-popup}}
  {{/if}}
</td>
<td class="right aligned">
  {{#ui-popup content=(t 'invoice.invoice-item.tooltips.change')}}
    {{invoice-item-amount amount=selection.amount changeAmountAction=(action 'update')}}
  {{/ui-popup}}
</td>
