<i class="close icon"></i>
<div class="header">
  {{t 'signup-modal.header'}}
</div>
<div class="content">
  <div class="ui one column centered grid">
    <div class="row">
      <div class="sixteen wide mobile eight wide computer column">
        <h1 class="ui large header">
          {{t 'signup-modal.content.description'}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide mobile eight wide computer column">
        <div class="ui items">
          <div class="ui item">
            <div class="content">
              <div class="header">
                <i class="big green check circle icon"></i>
                {{t 'signup-modal.content.list.change' }}
              </div>
            </div>
          </div>
          <div class="ui item">
            <div class="content">
              <div class="header">
                <i class="big green check circle icon"></i>
                {{t 'signup-modal.content.list.publish' }}
              </div>
            </div>
          </div>
          <div class="ui item">
            <div class="content">
              <div class="header">
                <i class="big green check circle icon"></i>
                {{t 'signup-modal.content.list.influence' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{yield}}
</div>
<div class="actions">
  <div class="one fluid ui buttons">
    <button class="ui huge primary button" {{action 'ok'}}>
      {{t 'signup-modal.button'}}
    </button>
  </div>
</div>
